ul {
    list-style-type: none;
}
ul:after {
    content: '';
    display: block;
    clear: both;
}
.menu li {
    text-align: center;
}
.menu li.left {
    float:left;
}
.menu li.right {
    float:right;
}
.paintings li {
    text-align: center;
    float:left;
}
